<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Foodie Smoothies</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="homepage.css" rel="stylesheet">
<style>
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #333;
    color: white;
}
</style>
  </head>
 
<html>
  <body>
        <div class="container">
        <div class="header clearfix">
            <nav class="nav">
                <ul class="nav nav-pills pull-right">
                    <li class="nav" role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li class="nav" role="presentation"><a href="#">Sign In</a>
                    </li>
                </ul>
            </nav>
        </div>
      <div class="jumbotron">
        <h1>Smoothies</h1>
        <h2>Upload pictures of your ingredients</h2>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file">
      <input class="btn btn-lg btn-success" type="submit" name="submit" value="Submit"><br>
    </form>
    {% if public_url %}
    <img src="{{public_url}}" height=200><br>
      <h2>Label Detection:</h2>
    {% for label in labels %}
        <p><b>Label:</b> {{label.description}}</p>
    {% endfor %}
    {% endif %}<br>
    <h2>List so Far:</h2>
   <ul>
    {% for i in ingredients %}
      <li>{{i.key.name}}</li>
   {% endfor %}
   </ul>
          </div>

        <footer class="footer">
            <p>&copy; The Foodies Team, 2018</p>
        </footer>
</div>
  </body>
</html> 
